<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

    <bean id="charmingKnight" class="ru.aston.osipov_vv.task10.CharmingKnight"
          scope="singleton" init-method="init" destroy-method="destroy">
<!--        <property name="quest" ref="dragonQuest"/>-->
    </bean>

    <bean id="dragonQuest" class="ru.aston.osipov_vv.task10.DragonQuest"
          scope="prototype" init-method="init">
        <qualifier value="dragonQuestQualifier"/>
    </bean>

</beans>